@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

* {
    font-family: 'Manrope', sans-serif;
    margin: 10px;
    padding: 0;
    background-color: black;
}

section {
    display: grid;
    grid-template-areas:
        'novaheader novaheader novaheader'
        'novamsg novamsg novamsg'
        'enteremail enteremail submitbutton';
    gap: 10px;
}

h1 {
    font-size: 31vw;
    grid-area: novaheader;
    color: white;
    padding: 0;
    margin: 0;

    text-align: center;
}

h3 {
    font-size: 2rem;
    grid-area: novamsg;
    text-align: center;
    color: white;
}

input {
    padding: 1rem 1.5rem;
    color: white;
    grid-area: enteremail;

    border-radius: 10px;

    font-size: 1rem;
}

button {
    background-color: blue;
    padding: 1rem 1.5rem;
    color: white;
    grid-area: submitbutton;
    border-color: blue;
    border-radius: 10px;

    font-size: 1rem;
}

.form {
    width: 100%;
}

@media screen and (min-width: 600px) {
    section {
        display: grid;
        grid-template-areas:
            'novaheader novaheader novaheader'
            'novamsg novamsg novamsg'
            'enteremail enteremail submitbutton';
        gap: 10px;
    }
    
    h1 {
        font-size: 16vw;
        grid-area: novaheader;
        color: white;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    h3 {
        font-size: 2rem;
        grid-area: novamsg;
        text-align: left;
        color: white;
    }
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}